.page {
    @apply relative flex flex-col;
}

.main {
    flex: 2;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    @apply bg-gray-100 justify-end h-12 flex items-center;
    border-bottom: 1px solid #d6d5d5;
}

    .top-row ::deep a, .top-row .btn-link {
        @apply whitespace-nowrap ml-6;
    }

    .top-row a:first-child {
        @apply overflow-hidden overflow-ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        @apply hidden;
    }

    .top-row.auth {
        @apply justify-between;
    }

    .top-row a, .top-row .btn-link {
        @apply ml-0;
    }
}

@media (min-width: 641px) {
    .page {
        @apply flex-row;
    }

    .sidebar {
        @apply w-64 h-screen sticky top-0;
    }

    .top-row {
        @apply sticky top-0;
        z-index: 1;
    }

    .main > div {
        @apply pl-8 pr-6;
    }
}
