.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    @apply h-12;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    @apply text-lg;
}

.oi {
    @apply w-8 text-lg align-text-top;
    top: -2px;
}

.nav-item {
    @apply text-sm pb-2;
}

    .nav-item:first-of-type {
        @apply pt-4;
    }

    .nav-item:last-of-type {
        @apply pb-4;
    }

    .nav-item ::deep a {
        @apply text-gray-400 rounded h-12 flex items-center leading-10;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    @apply text-white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    @apply text-white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        @apply hidden;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        @apply block;
    }
}
