/* Add application styles & imports to this file! */

@import url('css/open-iconic/font/css/open-iconic-bootstrap.min.css');

@tailwind utilities;

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    @apply text-blue-500;
}

.btn-primary {
    @apply text-white bg-blue-500 border-blue-700;
}

.content {
    @apply p-5;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    @apply text-red-600;
}

#blazor-error-ui {
    @apply bg-yellow-200 bottom-0 left-0 shadow fixed w-full;
    @apply hidden z-50 pt-2.5 pr-5 pb-3 pl-5;
}

    #blazor-error-ui .dismiss {
        @apply cursor-pointer absolute right-3 top-2;
    }
