@page "/"

<h1 class="text-2xl text-gray-400 font-black">Hello, world!</h1>

<div class="text-sm text-gray-500 font-thin">
    This is a first block of text.
</div>

<div class="text-base text-red-500 font-black">
    This is a second block of text that is read.
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
